* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    background-color: dimgray;
}

.mouseFollower {
    position: fixed;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: 0 0 4px -1px black;
}

#tint {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

header {
    display: flex;
    position: fixed;

    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 100vw;
    height: 60px;

    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 6px -2px black;

    z-index: 10;
}

#anim-switch-label {
    position: absolute;
    left: 35px;
    color: azure;
    font-family: cursive;
    font-weight: bold;
}

.logo {
    position: relative;
    height: fit-content;

    color: white;

    animation: pulse 2.5s linear infinite;

    font-size: 32px;
    font-family: 'Rammetto One', cursive;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, .3));
}

@keyframes pulse {
    from {
        opacity: 1;
    }
    80% {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

.author {
    width: fit-content;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 600;

    color: white;
    transition: transform 0.3s ease-out;
}

.author:hover {
    transform: scale(110%);
}

main {
    position: absolute;
    display: flex;

    gap: 8px;

    width: 1250px;
    height: 850px;

    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 2;
}

section {
    flex: 1;
    background-color: rgba(0, 0, 0, 0.2);
}